.container{
    --_background: #6c6c6c;
    --_glow-color:#cccccc;
    --_border_thickness: 2px;
    --_border-radius: 12px;
    --_box-width:100px;
    --_box-height:100px;
    
    width: var(--_box-width,0px);
    height: var(--_box-height,0px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--_border-radius);
    background: var(--_background);
    position: relative;
    overflow: hidden;

    &:hover{ 
        cursor: pointer;
    }
}

.inner-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: calc(var(--_border-radius) * 0.75);
    box-sizing: border-box;

    &::before{
        opacity: 0;
        content: "";
        position: absolute;
        width: 700px;
        transform: translate(-50%,-50%);
        aspect-ratio: 1 /1;
        flex-shrink: 0;
        left: var(--position-left,0);
        top: var(--position-top,0);
        background: radial-gradient(var(--_glow-color),transparent,transparent);
        transition: opacity 0.5s;
    }

    &:hover::before{
        opacity: 1;
    }

    &::after{
        content: '';
        position: absolute;
        inset: var(--_border_thickness);
        background: rgba($color: #363636, $alpha: 0.5);
        border-radius: calc(var(--_border-radius) * 0.75);
    }
}

.content-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top:0px;
    z-index: 2;
    pointer-events: none; 
    user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
}
