.points{
  font-size: 12px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
  height: 36px;
  aspect-ratio: 1;
  flex: 0;
  border-radius: 50%;
  background: linear-gradient(15deg, rgba(236,171,29,1) 0%, rgba(252,208,29,1) 100%);
}

.pacman {
    height: 100px;
    aspect-ratio: 1;
    flex: 0;
    border-radius: 50%;
    background: linear-gradient(15deg, rgba(236,171,29,1) 0%, rgba(252,208,29,1) 100%);
    clip-path: polygon(0 0,100% 0,100% 25%,50% 50%,100% 75%,100% 100%,0 100%);
    transform: translateX(30px);
}

.pacman.active {
    animation: pacmanAnimation 0.5s linear infinite;
}
  
  @keyframes pacmanAnimation {
    0% {
      clip-path: polygon(0 0,100% 0,100% 45%,50% 50%,100% 55%,100% 100%,0 100%);
    }
    50% {
      clip-path: polygon(0 0,100% 0,100% 0%,50% 50%,100% 95%,100% 100%,0 100%);
    }
    100% {
        clip-path: polygon(0 0,100% 0,100% 45%,50% 50%,100% 55%,100% 100%,0 100%);
    }

  }