.background {
    z-index: 1000;
    position: fixed;
    top:0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    background-color: rgb(27, 6, 41);
  }

.displayOff{
    display: none;
}
  
.logoAnimatione{
    opacity: 0;
    transform: scale(0);
}

.textAnimationMask{
    overflow: hidden;
    scale: (2);
}

.textAnimation{
    opacity: 0;
    transform-origin:left;
}