<div class="wrapper-about-me" *ngIf="textSertvice.texte$ | async as text">

    <div class="decoration-middle"><img src="./site-elements/white-middle-element.png"></div>
    <div class="decoration-right"><img src="./site-elements/pink-element.png"></div>

    <div class="wrapper-delimiter">

        <h2 class="headlineOne">{{text?.["aboutMeSection"]?.["titles"]?.[0]}}</h2>
        <!--
        <div class="polygon polygon-left-top"><img src="./about-me/Polygon 26.png"></div>
        <div class="polygon polygon-right-top"><img src="./about-me/Polygon 28.png"></div>
        <div class="polygon polygon-right-bottom"><img src="./about-me/Polygon 27.png"></div>
        -->

        <content class="content">

                <div class="textBoxOne">
                    <h3 class="headlineTwo">{{text?.["aboutMeSection"]?.["titles"]?.[1]}}</h3>
                    <p class="bold text">{{text?.["aboutMeSection"]?.["titles"]?.[2]}}</p>
                    <p >{{text?.["aboutMeSection"]?.["texte"]?.[0]}}</p>
                </div>
            
                <p class="textBoxTwo">{{text?.["aboutMeSection"]?.["texte"]?.[1]}}</p>

                <p class="textBoxThree">{{text?.["aboutMeSection"]?.["texte"]?.[3]}}</p>
                <p class="textBoxFour">{{text?.["aboutMeSection"]?.["texte"]?.[4]}}</p>

                <nav class="about-me-navi">  
                    <ul>
                        <li><icon>lightbulb</icon></li>
                        <li><icon>location_on</icon></li>
                        <li><icon>toys_and_games</icon></li>
                    </ul>
                </nav>
        </content>

    </div>
</div>


