.wrapper-about-me{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    z-index: 5;
    background-color: var(--background);
}

h2{
    padding-top: 64px;
    margin-bottom: 0px;
}

.headlineOne{
    opacity: 0;
    transform: translateY(-300px);
}

.wrapper-delimiter{
    margin-top: 100px;
    width: 75%;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

content{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: clamp(48px, 5vw, 10vw);
}

profilpicture{
    scale: 0.9;
    margin-top: -64px;
}

.profilPicture{
    opacity: 0;
    transform: translate(-200px, -200px);
}

.content-text-delimiter{
    z-index: 6;
    width: 540px;
    position: relative;
    display: flex;
    justify-content: center;
}

article{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;

    p{
        margin: 16px 0px;
    }

    h3{
        max-width: 450px;
        margin-bottom:0px
    }
}

.textBoxOne{
    opacity: 0;
    transform: translate(100px, -100px);
}


.textBoxTwo{
    opacity: 0;
    transform: translate(100px, -100px);
}


.deko-box{
    width: 200px;
    height: 250px;
    position: absolute;
    top: 50px;
    right: 10px;
}

.boxOne{
    position: absolute;
    top: 0px;
    right: 0px;
}

.boxTwo{
    position: absolute;
    top: 55px;
    left: 0px;
}

.boxThree{
    position: absolute;
    top: 95px;
    right: 0px;
}

.animationFrameWork{
    animation: flow 7s ease-in-out infinite;
}

@keyframes flow {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width: 1420px){
    .deko-box{
        display: none;
    }

    profilpicture{
        scale: 1;
        margin-top: +64px;
    }

    content{
        width: 90%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    article{
        width: 100%;
        justify-content: center;
        align-items: center;
        position: static;
        max-width: 540px;
    }

    .content-text-delimiter{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .textBoxOne{
       margin-bottom: 64px;
    }

    .textBoxTwo{
        padding-bottom: 64px;
    }
}



