<div class="wrapper-about-me" (click)="clickToCloseBox()" *ngIf="textSertvice.texte$ | async as text">

    <spotlights></spotlights>

    <div class="wrapper-delimiter">

        <h2 class="headlineOne">{{text?.["aboutMeSection"]?.["titles"]?.[0]}}</h2>


        <div class="deko-box">
            <div class="boxOne"><div class="animationFrameWork"> <img src="./about-me/polygon28.png"> </div></div>
            <div class="boxTwo"><div class="animationFrameWork" [ngStyle]="{'animation-duration':'8.5s'}"> <img src="./about-me/polygon29.png"> </div></div>
            <div class="boxThree"><div class="animationFrameWork" [ngStyle]="{'animation-delay': '1s'}"> <img src="./about-me/icon.png"></div></div>
        </div>

        <content>

            <profilpicture class="profilPicture" ></profilpicture>

            <section class="right-box">
                <div class="head-area">
                    <h3>{{text?.["aboutMeSection"]?.["titles"]?.[1]}}</h3>
                    <h3>{{text?.["aboutMeSection"]?.["titles"]?.[2]}}</h3>
                    <p class="headline-text">{{text?.["aboutMeSection"]?.["titles"]?.[3]}}</p>
                </div>

                <hr>

              
                <div class="content-text-delimiter" [ngClass]="{'reduce-size':isinfoBoxOpen}">

                    <div index='#fullInfoBox' #fullInfoBox [ngClass]="{'fade-in':isinfoBoxOpen, 'fade-out':!isinfoBoxOpen}" class="full-size-box">
                        <glowing-box width="100%" height="100%" [borderRadius]="12" [borderThickness]="2" backgroundColor="#383969" glowColor="#4254b3">

                            <div class="inside-wrapper">
                                <div class="flow-box">  
                                    <div class="icon-border"><icon>{{iconArray[currentTextIndex]}}</icon></div>
                                    <h5>{{text?.["aboutMeSection"]?.["titles"]?.[currentTextIndex + 4]}}</h5>
                                </div>
                                <p class="flow-text">{{text?.["aboutMeSection"]?.["texte"]?.[currentTextIndex]}}</p>
                            </div>

                        </glowing-box>
                    </div>
                        

                    <glowing-box (click)="stopPropagation($event); clickOnBox(0)" [ngClass]="{'fade-out':isinfoBoxOpen}" [width]="348" [height]="154" [borderRadius]="12" [borderThickness]="2" backgroundColor="#383969" glowColor="#4254b3">
                        <article class="textBox" #box>
                            <div class="icon-border"><icon>info_i</icon></div>
                            <p>{{text?.["aboutMeSection"]?.["titles"]?.[4]}}</p>
                            <p class="flow-text">{{text?.["aboutMeSection"]?.["texte"]?.[0]}}</p>
                        </article>
                    </glowing-box>

                
                    <glowing-box (click)="stopPropagation($event); clickOnBox(1)" [ngClass]="{'fade-out':isinfoBoxOpen}" [width]="348" [height]="154" [borderRadius]="12" [borderThickness]="2" backgroundColor="#383969" glowColor="#4254b3">
                        <article class="textBox" #box>
                            <div class="icon-border"><icon>lightbulb_2</icon></div>
                            <p>{{text?.["aboutMeSection"]?.["titles"]?.[5]}}</p>
                            <p class="flow-text">{{text?.["aboutMeSection"]?.["texte"]?.[1]}}</p>
                        </article>
                    </glowing-box>
    

                    <glowing-box (click)="stopPropagation($event); clickOnBox(2)" [ngClass]="{'fade-out':isinfoBoxOpen}" [width]="348" [height]="154" [borderRadius]="12" [borderThickness]="2" backgroundColor="#383969" glowColor="#4254b3">
                        <article class="textBox" #box>
                            <div class="icon-border"><icon>check</icon></div>
                            <p>{{text?.["aboutMeSection"]?.["titles"]?.[6]}}</p>
                            <p class="flow-text">{{text?.["aboutMeSection"]?.["texte"]?.[2]}}</p>
                        </article>
                    </glowing-box>
    
                    <glowing-box (click)="stopPropagation($event); clickOnBox(3)" [ngClass]="{'fade-out':isinfoBoxOpen}" [width]="348" [height]="154" [borderRadius]="12" [borderThickness]="2" backgroundColor="#383969" glowColor="#4254b3">
                        <article class="textBox" #box>
                            <div class="icon-border"><icon>flag</icon></div>
                            <p>{{text?.["aboutMeSection"]?.["titles"]?.[7]}}</p>
                            <p class="flow-text">{{text?.["aboutMeSection"]?.["texte"]?.[3]}}</p>
                        </article>
                    </glowing-box>

                </div>
            </section>

           

        </content>

    </div>
</div>


