.wrapper-about-me{
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    z-index: 5;
    background-color: var(--background);
}

.wrapper-delimiter{
    position: static;
    height: 100%;
}

content{
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100dvh;
}


h2{
    width: 100%;
    text-align: center;
    margin-top: 192px;
    text-align: center;
}

h3{
    text-align: center;
    width: 100%;
    max-width: auto;
}


p{
    margin: 16px 0px;
    font-size: 1.5rem;
    line-height: 140%;
}

.polygon{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: flow ease-in-out infinite;
}

.polygon-left-top{
    top:60px;
    left: 60px;
    animation: flow ease-in-out infinite;
    animation-delay:2s;
    animation-duration: 10s;
}

.polygon-right-top{
    top:60px;
    right: 120px;
    animation-duration: 8s;
}

.polygon-right-bottom{
    bottom:0px;
    right: 0px;
    animation-duration: 10s;
}

.about-me-navi{

    position: absolute;
    bottom: 64px;
    right: 112px;
    display: flex;
    justify-content: center;

    ul{
        align-items: end;
        height: 100%;
        display: flex;
        width: 100%;
        gap: clamp(8px, 2vw, 36px);
    }

    li{
        margin-right: 16px;
        padding: 16px 16px;
        user-select: none;
        display: flex;
        align-items: center;
        font-size: 18px;
        border: 2px solid transparent;
        background-clip: padding-box;
        background-color: transparent;
        position: relative;
        width: 36px;
        height: 36px;
        flex-grow: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        color: var(--grey);

        &::before{
            content: "";
            position: absolute;
            inset: 0;
            padding: 3px; 
            border-radius: 18px;
            background: linear-gradient(45deg, var(--pink), var(--red)); 
            -webkit-mask: 
              linear-gradient(white, white) content-box, 
              linear-gradient(white, white);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }

        &:hover{
            cursor: pointer;
            color: var(--white);
        }
    }
}

.about-me-navi li.active{
    color: var(--white);
}


@keyframes flow {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0px);
    }
}

@media (max-width:1400px){

    .wrapper-delimiter{
        padding-top: 94px;
        padding-bottom: 112px;
    }


    h3{
        max-width: 100%;
        text-align: center;
    }

    p{
        z-index: 5;
        font-size: clamp(1.125rem, 2vw, 1.5rem);
    }

    .about-me-navi{
        ul{
            justify-content: center;
            align-items: center;
        }
    }
}

.textBoxOne, .textBoxTwo, .textBoxThree, .textBoxFour, .textBoxFive {
    width: 550px;
    position: absolute;
    opacity: 0;
    top: 50%;
    left: calc((100% - 550px) / 2); 
    transform: translate(-50%, -50%); 
    text-align: center;
  }

.headlineOne{
    opacity: 0;
    transform: translateY(-200px);
}

.textBoxOne{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: translateX(-300px);
    p{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.textBoxTwo{
    opacity: 0;
    transform: translateX(300px);
}

.textBoxThree{
    opacity: 0;
    transform: translateX(-300px);
}

.textBoxFour{
    opacity: 0;
    transform: translateX(300px);
}

