<div class="wrapper">

    <div class="decoration-middle"><img src="./site-elements/white-middle-element.png"></div>
    <div class="decoration-right"><img src="./site-elements/pink-element.png"></div>

    <div class="wrapper-delimiter">
        <h2>About Me</h2>
        <p>Hi, I’m a german speaking Frontend Developer based in Bad Salzuflen. Motivated by the limitless possibilities in IT, I am enthusiastic about designing visually appealing and intuitive websites and applications.</p>
        <hr>
        <nav>
            <ul>
                <li><icon>mobil</icon></li>
                <li><icon></icon></li>
                <li><icon></icon></li>
                <li><icon></icon></li>
            </ul>
        </nav>
        <div><h3>Story</h3>Thanks to my flexible working style, I am able to work efficiently both on-site in Bad Salzuflen, Bielefeld, and the surrounding areas, as well as remotely.</div>
        <div><h3>Flexibility</h3>I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills.</div>
        <div><h3>Challenge</h3>In my profession, programming isn't just about writing code - it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life</div>
        <div><h3>Solution-Focused</h3>In my profession, programming isn't just about writing code - it's a creative form of problem-solving. I take pride in my ability to distill complex technical challenges into simple, user-friendly solutions. This way, I help you achieve your goals and bring your visions to life</div>
    </div>
</div>


