<section *ngIf="textService.texte$ | async as texte">
    
    <div class="scroll-marker-container">
        <div class="scroll-marker">
            <hr>
                {{texte?.['heroSection']?.['utils']?.[1]}}
            <hr>
        </div>
    </div>

    <div class="wrapper">

        <spotlights></spotlights>
        <div class="wrapper-delimiter">

        <profilpicture></profilpicture>

        <div class="left-container">
            <div class="main-container">
                <div>
                    <h1>{{texte?.['heroSection']?.['headline']?.[0]}}</h1>
                    <p>{{texte?.['heroSection']?.['headline']?.[1]}}</p>
                    <p>{{texte?.['heroSection']?.['headline']?.[2]}}</p>
                </div>
        
                <div class="category">
                    <div class="category-button"><icon>table_eye</icon>Frontend</div>
                    <div class="category-button"><icon>database</icon>Backend</div>
                </div>
            </div>
        
            <div class="links">
                {{texte?.['heroSection']?.['utils']?.[0]}}
                <ul>
                    <a href="mailto:{{config.email}}"><li><icon>mail</icon></li></a>
                    <a [href]="config.github"><li><icon><i class="fa fa-git"></i></icon></li></a>
                    <a [href]="config.linkIn"><li><icon><i class="fa fa-linkedin"></i></icon></li></a>
                </ul>
            </div>

        </div>

    </div>
    </div>
</section>