/* You can add global styles to this file, and also import other style files */
@use 'font-awesome/scss/font-awesome';

@font-face {
    font-family: 'inter';
    font-weight: 100 1000;
    src: url('./../public/fonts/Inter-VariableFont.ttf') format('truetype');
}

:root{
    --body-background: #12021F;
    --background : #131428;
    --white : #ffffff;
    --grey :  #2E3455;
    --light-grey :  #6f7285;
    --purble: #1C0018;
    --dark-pink: #33004d;
    --blueberry: #1C0018;
    --pink : #BB00FF;
    --red-pink: #E0026C;
    --red : #ED043E;
    --blue: #2641db;
    --blue-gradient: linear-gradient(15deg, rgb(75, 0, 187) 0%, rgb(134, 30, 232) 100%);
    --pink-gradient: linear-gradient(15deg, var(--pink) 0%, var(--red) 100%);
    --normal-text-size: #{clamp(1rem, 2vw, 1.3125rem)};
    --icon-size: 1.25rem;
    
    --h1-size: #{clamp(2.75rem, 10vw, 7.5rem)};
    --h2-size: #{clamp(2.5rem, 6vw, 5rem)};

    --h3-size: #{clamp(1.75rem, 3vw, 3.5rem)};

    --h4-size: #{clamp(1.5rem, 5vw, 5rem)};
    --h5-size: #{clamp(1rem, 5vw, 2rem)};
}

body.no-scroll{
    max-height: 100vh;
    width: 100%;
    overflow: hidden;
}

body {
    scroll-behavior: smooth;
    margin: 0 0;
    background-color: var(--hover-black);
    font-family: 'inter';
    font-weight: 350;
    background-color: var(--body-background);
    color: var(--white);
    font-size: var(--normal-text-size);
}

ul {
    list-style: none;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-end: 0px;
    margin-block-start: 0px;
    padding-inline-start: 0px;
    padding-inline-end: 0px;
    padding-inline: 0px;
    padding-block-end: 0px;
    padding-block-start: 0px;
    padding-block: 0px;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

h1{
    background-image: linear-gradient(45deg, var(--pink) 0%, var(--red) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    width: max-content;
    font-weight: 350;
    font-size: var(--h1-size);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 12px;
    max-width: 90vw;
}

h2 {
    background-image: linear-gradient(45deg, var(--pink) 0%, var(--red) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    display: inline-block;
    font-weight: 350;
    font-size: var(--h2-size);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 24px;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: max-content;
}

h3{
    background-image: linear-gradient(45deg, var(--pink) 0%, var(--red) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    font-weight: 350;
    font-size: var(--h3-size);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 24px;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 90vw;
}

h4{
    font-weight: 350;
    font-size: var(--h4-size);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 24px;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: 90vw;
}

h5{
    font-weight: 350;
    font-size: var(--h5-size);
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 24px;
    word-break: normal;
    overflow-wrap: break-word;
    white-space: normal;
    max-width: min(90vw, 1080px);
    line-height: 130%;
}


icon{
    user-select: none;
}

.bold{
    font-weight: 500;
}

.button{
    border: 2px solid transparent;
    background-clip: padding-box;
    background-color: transparent;
    position: relative;
    padding: 16px 36px 12px 36px; 
    min-width: 130px;
    max-width: max-content;
    display: flex;
    justify-content: center;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        inset: 0;
        padding: 2px; 
        border-radius: 14px;
        background: linear-gradient(45deg, var(--pink), var(--red)); 
        -webkit-mask: 
          linear-gradient(white, white) content-box, 
          linear-gradient(white, white);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }

    &:hover{
        cursor: pointer;
        scale: (105%);
    }
}

.wrapper-delimiter{
    z-index: 2;
    max-width: 1920px;
    width: 100%;
    position: relative;
}
