<section class="wrapper">
    <div class="wrapper-delimiter">
        <div class="logo"><img src="./logo/logo-full.png"></div>
        <nav>
            <ul>
                <a href="#start"><li>About Me</li></a>
                <a href="#start"><li>Skills</li></a>
                <a href="#start"><li>Portfolio</li></a>
                <a href="#start"><li>Contact</li></a>
            </ul>

            <div class="language">
                <p>ENG</p>
                <icon>language</icon>
            </div>

        </nav>
    </div>
</section>